#logo{
    background-image:url(/src/assets/loguini.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height:100px
    
    
}

#slogan {
    font-family: 'Lugrasimo', cursive;
    color: white;
    font-size: 40px;
}

#carrito{
    font-size: 40px;
    color:white;
}
 
.botones{        
    background-color: rgb(174, 128, 174);
   
   
    
    
}
